body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color:black !important;
  font-weight: bold;
  
}
.navbar-brand
{
  color:black !important;
  font-weight: bold;
}
.flex-container{
  display: flex !important;
  font-weight: bold;
  font-size:20px;
}
.btn{
  background-color: red !important;
  color:white !important;

}
select{
  box-shadow:none !important;
  border-color: black !important;
}
